<nav class="site-nav">
  <!--<a href="/" class="brand instrument-serif-regular">Better Brain</a>-->
  <div class="links">
    <a href="/" class="btn">( Home )</a>
    <a href="/posts/" class="btn">( Posts )</a>
    <!--<a href="/authors/" class="btn">( Authors )</a>-->
    <a href="/posts/about" class="btn">( About )</a>
    <a href="/posts/contribute/" class="btn">( Contribute )</a>
  </div>
</nav>
