<nav class="site-nav">
  <div class="links">
    <a href="{{ '/' | url }}" class="btn">( Home )</a>
    <a href="{{ '/posts/' | url }}" class="btn">( Posts )</a>
    <a href="{{ '/posts/about' | url }}" class="btn">( About )</a>
    <a href="{{ '/posts/contribute/' | url }}" class="btn">( Contribute )</a>
    <!-- Theme Toggle Link -->
    <button id="theme-toggle" class="btn" type="button" aria-label="Toggle dark/light mode">
      ( Dark mode )
    </button>
  </div>
</nav>
