<nav class="site-nav">
  <!--<img src="assets/images/icons/logo no text.svg" alt="Home Icon" width="50" height="50">-->
  <!--<a href="/" class="brand" >
      <img src="/assets/images/icons/logo with text.svg" alt="Home Icon" height="20">
  </a>-->
  <a href="/" class="brand instrument-serif-regular">Better Brain</a>
  <div class="links">
    <a href="/" class="btn">( Home )</a>
    <a href="/posts/" class="btn">( Posts )</a>
    <a href="/posts/about" class="btn">( About )</a>
    <a href="/authors/" class="btn">( Authors )</a>
    <a href="/contribute/" class="btn">( Contribute )</a>
  </div>
</nav>
