

@import "typography.css";
@import "updated_layout.css";

:root {

  --bg-color: #F4F4F4;
  --text-color: #222222;
  --muted-text: #222222B3;
  --border-color: #DBDBDB;


  --accent-color: #3B5CFF;
  --accent-hover: #2643D6;


  --banner-bg: #D5DCFF;
  --banner-text: #3B5CFF;
  --banner-border: #3B5CFF;

  --code-bg: #dcdcde;
  --code-text: #2E2E2E;
  --code-border: #EDEDED;


  --max-width: 720px;
  --font-family: system-ui, -apple-system, sans-serif;
}


[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #E4E4E4;
  --muted-text: #E4E4E4B3;
  --border-color: #333333;

  --accent-color: #6688FF;
  --accent-hover: #88A0FF;

  --banner-bg: #1E2855;
  --banner-text: #88A0FF;
  --banner-border: #6688FF;

  --code-bg: #292929;
  --code-text: #E4E4E4;
  --code-border: #202020;
}

* {
  box-sizing: border-box;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
}

body, nav, post-sidebar {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.site-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 15px;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  /*background-color: white;*/

}

.links {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
    /*background-color: blue;*/
}

.container {
  /*max-width: var(--max-width);*/
  /*margin: 2rem auto;*/
  /*padding: 0 1rem;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 5vh;
  /*background-color: pink;*/
}


.header {
    text-align: left;
    text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  /*background-color: blue;*/
  width: 70%;
}

.cta-section {
    font-size: 15px;
    width: fit-content;
  display: flex;
  flex-direction: column;
  /*text-align: right;*/
  align-items: end;
  justify-content: space-between;
  /*background-color: pink;*/
}

.subheader {
    font-size: 20px;
    font-weight: 400;
}

.mini-text {
  color: var(--muted-text);
}

.zero-margin {
  margin: 0px;
}

.contribute-banner {
  font-size: 13px;
  font-weight: 500;
  background-color: var(--banner-bg);
  color: var(--banner-text);
  padding: 4px 10px;
  border: 1px solid var(--banner-border);
  border-radius: 8px;
}






.btn:hover {
  /*color: var(--accent-hover);*/
  white-space: nowrap;
  color: #F4F4F4;
  background-color: blue;
}

.btn {
    font-size: 15px;
    font-weight: 400;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  width: fit-content;
  /*padding-left: 20px;*/
}

.reference {
  text-decoration: underline var(--muted-text) 2px;
}
.reference:hover {
  color: var(--accent-hover);
  text-decoration: underline var(--accent-hover) 2px;
}

.posts-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 50px 0px;
  width: 85%;
}

.post-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.post-card {
  display: grid;
  width: 100%;
  /*
    Column 1: Fixed at 220px (adjust this number to your ideal max title width)
    Column 2: Takes max-content (tight fit for date/author)
    Column 3: 1fr (takes remaining space)
  */
  grid-template-columns: 300px max-content 1fr;
  justify-content: space-between;

  gap: 40px; /* Equal spacing between column boundaries */
  align-items: start;
  padding: 30px 0;
  border-bottom: 1px solid var(--border-color);
}




.post-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-card h3 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
}

.post-card a {
  margin: 0;
}




.post-header {
  padding: 10px 0px;
  margin-bottom: 20px;
    display: flex;
    /*gap: 50px;*/
    justify-content: space-between;
    align-items: baseline;
  /*border-bottom: 1px solid var(--border-color);*/
  /*background-color: blue;*/
}


.post-info {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*gap: 100px;*/
    /*background-color: blue;*/
}

.post-link {

}

.post-by {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
  /*color: var(--muted-text);*/
  font-weight: 300;
  white-space: nowrap;
  /*width: fit-content;*/
  /*width: 150px;*/
  /*background-color: blue;*/
  /*padding-bottom: 15px;*/
}

.post-desc {
    /*font-size: 15px;*/
    font-weight: 300;
    /*width: 85%;*/
}
.post {
  width: 85%;
}


@media (max-width: 846px) {

    .header {
        width: 85%;
    }
    .cta-section {
        flex-direction: row;
        gap: 30px;
    }

    .hero {
        flex-direction: column;
    }

    .post-card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        }

    .post-card > h3 {
        width: 100%;
    }

    .post-by {
        flex-direction: row;
        gap: 20px;
    }


    .post-grid {
        gap: 20px;
    }
}



:not(pre) > code {
  background-color: var(--code-bg);
  color: var(--code-text);
  padding: 0.15em 0.4em;
  border-radius: 4px;
  border: 1px solid var(--code-bg);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 0.875em;
}


pre {
  background-color: var(--code-bg);
  padding: 1em;
  border-radius: 6px;
  border: 1px solid var(--code-bg);
  overflow-x: auto;
}


pre code {
  color: var(--code-text);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 0.875em;


  background-color: transparent;
  padding: 0;
  border: none;
}


.katex {
  font-size: 1em;
  line-height: 0;
}

.katex-display {
  font-size: 1em;
  line-height: normal;
}

.katex-html {
  -webkit-text-stroke: 0.25px;

}

.katex .mord,
.katex .mbin,
.katex .mrel,
.katex .msupsub {
  color: var(--text-color);
}


p .katex,
li .katex {
  margin-top: -0.5em;
  margin-bottom: -0.5em;

  display: inline-block;
}

p .katex-display .katex {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.top-head {
    padding-top: 20vh;
}

.subheader-big {
    font-weight: 400;
    padding-bottom: 2vh;
}
