.brand {
    display: flex;
    align-items: center;
    font-size: 25px;
}

a {
  height: auto;
  text-decoration: none;  /* Removes the underline */
  color: inherit;
}

.site-nav {
    font-size: 16px;
    width: 80%;
    margin: 15px 30px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    align-items: start;
    /*background-color: pink;*/
}

.links {
    display: flex;
    /*flex-direction: column;*/
    gap: 20px;
    align-items: end;
}


.post-header {
    padding-bottom: 5px;
}

.post h1,h2,h3 {
    font-weight: 500;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
