/* src/css/typography.css */

a {
  height: auto;
  text-decoration: none;
  color: inherit;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.site-nav {
  font-size: 16px;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  /*background-color: pink;*/
}

.links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .links {
    gap: 5px;
    flex-wrap: wrap;
  }

  .site-nav {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.post-header {
  padding-bottom: 5px;
}

.post h1,
.post h2,
.post h3 {
  font-weight: 500;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
