/* src/css/typography.css */

a {
  height: auto;
  text-decoration: none;
  color: inherit;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 25px;
}


.links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .links {
    gap: 5px;
    flex-wrap: wrap;
  }

  .site-nav {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.post-header {
  padding-bottom: 5px;
}

.post h1,
.post h2,
.post h3 {
  font-weight: 500;
}
