---
layout: base.njk
title: About Better Brain
---

<section class="hero">
    <!--<div class="contribute-banner">
        <a href="/contribute/" class="btn">Open for contributions</a>
    </div>-->
  <h1 class="instrument-serif-regular header zero-margin">About Better Brain</h1>
  <p class="zero-margin mini-text">Technical write-ups exploring interesting ML research and ideas out of the mainstream.</p>
</section>
