---
layout: base.njk
# title: Building a Better Brain
---

<section class="hero">
    <a href="{{ '/posts/contribute/' | url }}">
        <div class="contribute-banner">
                Open to contributions
        </div>
    </a>
    <h1 class="instrument-serif-regular header zero-margin">Building a Better Brain</h1>
    <p class="zero-margin mini-text">Technical write-ups exploring interesting ML research and ideas out of the mainstream.</p>
    <div class="cta-section">
        <a href="{{ '/posts/about/' | url }}" class="zero-margin mini-text btn">( About this site )</a>
        <a href="{{ '/posts/' | url }}" class="zero-margin mini-text btn">( Read posts )</a>
        <a href="{{ '/posts/contribute/' | url }}" class="zero-margin mini-text btn">( How to contribute )</a>
    </div>
</section>

<section class="posts-section">
  <h2 class="zero-margin instrument-subheading instrument-serif-regular">Latest Posts</h2>

  {# Loop through posts in reverse chronological order #}
  <div class="post-grid">
    {% for post in collections.posts | reverse %}
      {% if loop.index <= 3 %} {# Limit to top 3 #}
        <article class="post-card">
            <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
            <p class="post-by"><time>{{ post.date | readableDate }}</time> • {{ post.data.author }}</p>
            <p>{{ post.data.description }}</p>
            <p><a href="{{ post.url | url }}" class="btn">( Read post )</a></p>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>
