---
layout: base.njk
title: Posts on Better Brain
---

<section class="posts-section">
    <h2 class="zero-margin instrument-subheading instrument-serif-regular">All Posts</h2>
    {# Loop through posts in reverse chronological order #}
    <div class="post-grid">
    {% for post in collections.posts | reverse %}
        <article class="post-card">
            <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
            <p class="post-by"><time>{{ post.date | readableDate }}</time> • {{ post.data.author }}</p>
            <p>{{ post.data.description }}</p>
            <p><a href="{{ post.url | url }}" class="btn">( Read post )</a></p>
        </article>
    {% endfor %}
    </div>
</section>
